.slides-container {
  height: 90%;
  width: 100%;
}

.footer {
  width: 100%;
  padding: 1rem;

  position: absolute;
  bottom: 1rem;

  display: inline-flex;
  justify-content: space-between;

  & ion-button {
    --padding-start: 2rem;
    --padding-end: 2rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
  }

  & .skip-button {
    --color: var(--ion-text-color);
  }

  & .next-button {
    --box-shadow: none;
  }
}
