.container::part(scroll) {
  display: flex;
  flex-direction: column;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.greetings-text {
  & h2,
  p {
    margin: 0;
  }

  & p {
    color: var(--ion-color-medium);
  }
}

.search-bar {
  --border-radius: 5px;
  --box-shadow: none;
  --background: var(--ion-color-light);
}
