ion-card.card {
  height: 14rem;
}

ion-card-title.card-title {
  text-align: start !important;
  font-size: medium;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

ion-button.card-favourite-button {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 2.5rem;
  height: 2.5rem;

  --border-radius: 50%;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
}
